NODE_ENV=development
PORT=3000
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNjc3OGZlOTAtNDNhNi00YzIxLTliODktNzkyYTZhOWJkYzUxIiwidGVuYW50X2lkIjoiMTczNWZhOTUyZDVkYTVmZGYyOTZlM2I2MTNiODBmY2QxZTFlOGM5YmU4NzAwNjk0M2MyN2E2MDM2MTIzYjIyNyIsImludGVybmFsX3NlY3JldCI6IjQwYTRmZjQ0LTNjYzEtNGJmMC1hZmNmLThmMGExNmJjNjJmMCJ9.Opuz-it8vOBkNjqkW6Frh42TkM_EKpxbGV8YUHkQycQ"